<h1>
    <span class="far fa-list-alt"></span> Issues
</h1>

<table class="table table-striped">
    <thead>
<div><h3>Issues</h3></div>            
    </thead>
    <tbody id="issue-list">
        {{#if viewData.issues.length}}
    {{#each viewData.issues}}
     <tr>
            <td class="text-center text-primary">{{this.description}}</td>
            <td>
                <a href="./issues/{{this.id}}/edit"><span class="far fa-edit"></span></a>
                <a href="./issues/{{this.id}}/remove"><span class="far fa-trash-alt"></span></a>
            </td>
        </tr>
    {{/each}}
    {{else}}
    <tr colspan="2">
      <td class="text-center">No issues to display.</td>
    </tr>
  {{/if}}
    </tbody>
</table>

{{!-- Socket.io: Template for the Client. The same as above but with \ before {{}} to not process it on the server-side --}}
<template id="issue-template">
    <td class="text-center text-primary">\{{this.description}}</td>
    <td>
        <a href="./issues/\{{this.id}}/edit"><span class="far fa-edit"></span></a>
        <a href="./issues/\{{this.id}}/remove"><span class="far fa-trash-alt"></span></a>
    </td>
</template>
